@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/jquery-ui")
        @Scripts.Render("~/Scripts/jquery-signalR")
        @Scripts.Render("~/Scripts/jquery-unobtrusive")
        @Scripts.Render("~/Scripts/jquery-validate")
        @Scripts.Render("~/Scripts/bootstrap")
        @Scripts.Render("~/Scripts/modernizr")
        @Scripts.Render("~/Scripts/underscore")
        @Scripts.Render("~/Scripts/angular")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/bootstrap-theme")
        @Styles.Render("~/Content/jquery-ui")
        @RenderSection("HeadScripts", false)
        @RenderSection("HeadStyles", false)
    </head>
<body>
    @RenderBody()
    <footer>
        
    </footer>
    @RenderSection("BodyScripts", false)
    @RenderSection("BodyStyles", false)
</body>
</html>
